<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trius Online Tutorial - List Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


</head>
<style> form { display: inline; }</style>
<body>
<div class="container">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <form th:action="@{/product/orderList}" method="post">
        <input type="submit" value="Order List"/>
    </form>

    <div th:if="${not #lists.isEmpty(products)}">
        <h2>Product List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>List</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Order</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id.toHexString()}"></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.stock}"></td>

                <td><a th:href="${'/product/show/' + product.id.toHexString()}">View</a> </td>
                <td><a th:href="${'/product/edit/' + product.id.toHexString()}">Edit</a> </td>
                <td><a th:href="${'/product/delete/' + product.id.toHexString()}">Delete</a> </td>
                //modalbutton
                <td><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#orderModal" th:attrappend="data-target=${product.id.toHexString()}">Order</button></td>

                <div class="container">
                    <!-- Trigger the modal with a button -->

                    <!-- Modal -->
                    <div class="modal fade" id="orderModal" role="dialog" th:attrappend="id=${product.id.toHexString()}">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content" th:if="${product.stock!=0}">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h4 class="modal-title">Order Page</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Would u like to order?</p>
                                </div>
                                <div class="modal-footer">
                                    <a th:href="${'/product/order/' + product.id.toHexString()}">Yes</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                </div>
                            </div>
                            <div class="modal-content" th:if="${product.stock==0}">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h4 class="modal-title">Order Page</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Out of stock.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="/product/new">New Product</a>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</body>
</html>